.main-container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:20px;
}

.containers{
	flex:1;
	text-align:center;
	padding:20px;
}

.title{
	text-align:center;
	color: #003554;
    font-family: Fabrica, London, "Sergio Trendy", Georgia, serif;
}

.Left{
	text-align:left;
	display:flex;
	justify-content:flex-end;
}

.Right{
	text-align:left;
	display:flex;
	justify-content:flex-start;
}

h3{
    font-family: Fabrica, London, "Sergio Trendy", Georgia, serif;
}

.containers a{
	color: #003554;
	text-decoration:none;
}

.containers a:hover{
	text-decoration:underline;
	color:#7EB6C6;
}

ol{
	list-style-position:outside;
}

.content-container{
	margin:10px;
}

.content-container h2{
	margin-bottom:20px;
	
}

.content{
	display:flex;
	justify-content:center;
	align-items:center;
	gap:20px;
}

.content-image{
	flex:1;
	width:500px;
	height:300px;
}

.content-image img{
	width:100%;
	height:300px;
	object-fit: cover;
	display: block;
}

.content-text{
	flex:1;
	text-align:justify;
	display:flex;
	justify-content:center;
}

.text p{
	width:300px;
	line-height:2;
	word-spacing:3px;
}