.middle{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.middle h1{
	text-align:center;
	font-family:Fabrica, London, "Sergio Trendy",Georgia, serif;
	color:#003554;
	margin:10px;
}

.middle img{
	height:600px;
	width:1000px;
}