.main-container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:20px;
}

.containers{
	flex:1;
	text-align:center;
	width:300px;
	height:600px;
}

.container-image img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	display: block;
	border-radius:10%;
}
.container-image img:hover{
	transform: scale(1.05);
	z-index: 10;
	position: relative; 
}	

.container-desc a{
	text-decoration:none;
	color:#003554;
}

.container-desc h2{
	padding:10px;
}

.container-desc a:hover{
	text-decoration:underline;
	color:#7EB6C6;
}


