.list-title{
	text-align:center;
	font-family:Fabrica, London, "Sergio Trendy",Georgia, serif;
	color:#003554;
	padding-bottom:20px;
}

.genres{
	display:flex;
	align-items:center;
}

.genre-card{
	flex:1;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding-bottom:20px;
}

.genre-pic{
	width: 300px;
    height: 350px;
    overflow: hidden;
    border-radius: 10%;
}

.genre-pic img{
	width:100%;
	height:100%;
	border-radius:10%;
	object-fit: cover;
	display: block;
}

.genre-pic img:hover{
	transform: scale(1.05);
	z-index: 10;
	position: relative; 
}

.genre-name{
	padding-top:10px;
}
.genre-name a{
	text-decoration:none;
	color:#003554;
}


.genre-name a:hover{
	text-decoration:underline;
	color:#7EB6C6;
}

.containers{
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:20px;
}
.left-container{
	flex:1;
}

.video{
	display:flex;
	justify-content:center;
	padding-bottom:20px;
}

.video video{
	width:100%;
	height:600px;
	object-fit: cover;
}

.desc{
	display:flex;
}
.poster{
	flex:1;
}

.poster img{
	width:160px;
	height:160px;
	object-fit: cover;
}
.text{
	flex:5;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}