.center{
	display: flex;
    align-items: center;
}

.center h1{
	text-align:center;
	font-family:Fabrica, London, "Sergio Trendy",Georgia, serif;
	color:#003554;
	margin:10px;
}

.start-front-pic{
	flex:1;
	width:500px;
	height:350px;
}

.front-pic{
	flex:1;
	width:500px;
	height:300px;
}
.start-front-pic img{
	width:100%;
	height:300px;
	object-fit: cover;
	display: block;
}

.front-pic img{
	width:100%;
	height:300px;
	object-fit: cover;
	display: block;
}

.center p{
	text-align:justify;
}

.text{
	flex:1;
	margin:20px;
	width:800px;
	display:flex;
	flex-direction: column;
	align-items: center;
	
}

.text h2{
	margin-bottom:10px;
}

.text p{
	width:300px;
	line-height:2;
	word-spacing:3px;
}

.bot-nav{
	display:flex;
	margin-top:30px;
}

.bot-nav a{
	padding:10px;
	text-decoration:none;
	border: 2px solid #003554;
	background-color: white;
	border-radius:50px;
	color:#003554;
}

.bot-nav a:hover{
	text-decoration:none;
	color:white;
	background-color:#003554
}

.left{
	display:flex;
	flex:1;
	justify-content:flex-start;
}
.right{
	display:flex;
	flex:1;
	justify-content:flex-end;
}